
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, a:visited, a:active{
    color: white;
    text-decoration: none;
}
body {
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
}

nav{
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100px;
}

nav ul{
    display: flex;
    flex-direction: row;
    margin: 0 ;
    gap: 0px;
    list-style: none;
    justify-content: flex-end;
    gap: 20px;
}

.li-logo a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.li-logo i{
    font-size: 250%;
}

main{
    margin-top: 100px;
    min-height: calc(100vh - 100px);
    display: flex;
}

.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    margin: 0 auto;
    width: calc(100% - 80px);
}

h1 {
    font-size: 250%;
    font-weight: 700;
}

h2 {
    font-size: 200%;
    font-weight: 700;
}

h3 {
    font-size: 150%;
    font-weight: 700;
}

h1,
h2,
h3 {
    font-family: 'Dancing Script';
    font-weight: 700;
}

article {
    width: 45vw;
    margin: 50px auto;
    background: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    animation-name: popup;
    animation-duration: 0.8s;
    margin-top: 100px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    margin-bottom: 20px;
    aspect-ratio: cover;
    border-radius: 5px;
}

li {
    list-style-position: inside;
    
}

.card{
    list-style: none;
    width: 370px;
    aspect-ratio: 1/1.6;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.2);
    animation-name: popup;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
}

.card:nth-of-type(2){
    animation-delay: 0.2s;
}

.card:nth-of-type(3){
    animation-delay: 0.3s;
}

.card:nth-of-type(4){
    animation-delay: 0.4s;
}

.card:nth-of-type(5){
    animation-delay: 0.5s;
}

.card:nth-of-type(6){
    animation-delay: 0.6s;
}

.card:nth-of-type(7){
    animation-delay: 0.7s;
}

.card:nth-of-type(8){
    animation-delay: 0.8s;
}

.card header{
    height: 55%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    
}

.header--pannenkoeken{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("/img/pexels-ash-376464\(1\).jpg");
    background-position: center;
    background-size: cover;
}

.header--wereldreizen{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("/img/pexels-porapak-apichodilok-346885.jpg");
    background-position: center;
    background-size: cover;
}

.header--Pizza{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("/img/pexels-eneida-nieves-905847\(1\).jpg");
    background-position: center;
    background-size: cover;
}
.header--Hongarije{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("/img/pexels-nikolett-emmert-3605969.jpg");
    background-position: center;
    background-size: cover;
}

.card header h2{
    padding: 20px;
    color: white;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 180%;
}
.card section{
    height: 35%;
    padding: 20px;
    border-bottom: 0.5px solid rgba(214, 214, 214,0.4);
    border-left: 0.5px solid rgba(214, 214, 214,0.4);
    border-right: 0.5px solid rgba(214, 214, 214,0.4);
}

.card footer{
    height: 10%;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgba(214, 214, 214,0.4);
    border-left: 0.5px solid rgba(214, 214, 214,0.4);
    border-right: 0.5px solid rgba(214, 214, 214,0.4);
}
.card footer a{
    color: blue;
}

p {
    max-width: 55ch;
    
}

article ul,
article  ol {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer{
    height: 100px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p{
    margin: 0;
    padding: 0 40px;
}
@media screen and (max-with: 1000px) {
    body {
        font-size: 14px;
    }

    article {
        width: 100%;
    }

    h1 {
        font-size: 220%;
    }
    nav{
        padding:10px;
    }

    .cards{
        padding: 20px 0;
    }

    .footer p:nth-of-type(2){
        display: none;
    }

}

@keyframes popup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}